{% extends 'food/base.html' %}


{% block body %}

<div class = "container">
    <div class="row">
        <div class="col-md-6 ">
            <img class="card" height="300" width="400" src="{{ item.item_image }}">
        </div>
        <div class="col-md-6 ">    
            <!-- <h2>{{ item.item_name}}</h2>
            <h4>{{ item.item_desc}}</h4>
            <h4>$ {{ item.item_price}}</h4> -->

            <h2>{{ object.item_name}}</h2>
            <h4>{{ object.item_desc}}</h4>
            <h4>$ {{ object.item_price}}</h4>
            <a class="btn btn-primary" href="{% url 'food:delete_item' item.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %} 