{% extends 'food/base.html' %}


{% block body %}
    {% for item in item_list %}
        <div class ="row">
            <div class="col-md-3 ">
                <img class="card" height="200" width="280" src="{{ item.item_image }}">
            </div>
            <div class="col-md-4 ">    
                <h3>{{ item.item_name}}</h3>
                <h5>{{ item.item_desc}}</h5>
                <h6>$ {{ item.item_price}}</h6>    
                <h6>{{item.user_name}}</h6>        
            </div>
            <div class="col-md-2 ">
                <a class="btn btn-primary" href="{% url 'food:detail' item.id %}">Details</a>
            </div>

        </div>
 
    {% endfor %}
{% endblock %}

